<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="tech.pooliver.app">

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/pooliver_logo"
        android:label="@string/app_name"
        android:roundIcon="@drawable/pooliver_logo"
        android:supportsRtl="true"
        android:theme="@style/Theme.Poolliver">
        <activity
            android:name="tech.pooliver.app.DeliveryAccepted"
            android:parentActivityName="tech.pooliver.app.MainActivity" />
        <activity
            android:name="tech.pooliver.app.userDeliveryInfo"
            android:parentActivityName="tech.pooliver.app.MainActivity" />

        <activity
            android:name="tech.pooliver.app.DeliveryInfo"
            android:parentActivityName="tech.pooliver.app.MainActivity" />
        <activity android:name="tech.pooliver.app.PriceEstimation" />

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyBIkTPrHapAtWAGp0bIu-J8KFY-_b9ksRM" />

        <activity
            android:name="tech.pooliver.app.LoginActivity"
            android:alwaysRetainTaskState="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="tech.pooliver.app.UserInfo"
            android:alwaysRetainTaskState="true"
            android:autoRemoveFromRecents="false"
            android:clearTaskOnLaunch="false">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
            </intent-filter>
        </activity>
        <activity android:name="tech.pooliver.app.MainActivity" />
    </application>

</manifest>